{% extends "myapp/base.html" %}
{% load humanize %}

{% block content %}
    <div class="container mx-auto px-4">
        <h1 class="text-3xl font-bold mt-20 text-center mb-8 text-green-600">Корзина</h1>
        <ul>
            {% for item in cart.items.all %}
                <li class="flex justify-between items-center border-b border-gray-200 py-4 px-6">
                    <a href="{% url 'myapp:detail' item.product.id %}" class="flex items-center">
                        <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="w-16 h-16 object-cover mr-6 rounded-md shadow-md">
                        <div>
                            <h2 class="text-lg font-semibold">{{ item.product.name }}</h2>
                            <p class="text-gray-600">Размер: {{ item.size }}</p>
                        </div>
                    </a>
                    <div class="flex items-center">
                        <p class="text-lg font-semibold">{{ item.subtotal | intcomma }} ₽</p>
                        <div class="mx-4">
                            <form action="{% url 'myapp:remove_single_from_cart' item.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="text-red-500 hover:text-red-700">-</button>
                            </form>
                        </div>
                        <p class="mx-2">Количество: {{ item.quantity }}</p>
                        <div class="mx-4">


                            <form action="{% url 'myapp:add_to_cart' item.product.id %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="size" value="{{ item.size.id }}">
                                <button type="submit" class="text-green-500 hover:text-green-700">+</button>
                            </form>                            
                            
                            
                        </div>
                        <div class="mx-4">
                            <form action="{% url 'myapp:remove_from_cart' item.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="text-red-500 hover:text-red-700">Удалить все</button>
                            </form>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <p class="mt-8 text-xl font-semibold">Итого: {{ cart.total | intcomma }} ₽</p>
    </div>
{% endblock content %}
