{% extends "myapp/base.html" %}
{% load humanize %}

{% block content %}
    <div class="container mx-auto px-4">
        <h1 class="text-3xl font-bold mt-20 text-center mb-8 text-green-600">Корзина</h1>
        <ul>
            {% for item in cart.items.all %}
                <li class="flex justify-between items-center border-b border-gray-200 py-4 px-6">
                    <a href="{% url 'myapp:detail' item.product_size.product.id %}" class="flex items-center">
                        <img src="{{ item.product_size.product.image.url }}" alt="{{ item.product_size.product.name }}" class="w-16 h-16 object-cover mr-6 rounded-md shadow-md">
                        <div>
                            <h2 class="text-lg font-semibold">{{ item.product_size.product.name }}</h2>
                            <p class="text-gray-600">Размер: {{ item.product_size.size.name }}</p>
                        </div>
                    </a>
                    <div class="flex items-center">
                        <p class="text-lg font-semibold">{{ item.subtotal | intcomma }} ₽</p>
                        <div class="mx-4">
                            <form action="{% url 'myapp:remove_single_from_cart' item.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="text-red-500 hover:text-red-700">-</button>
                            </form>
                        </div>
                        <p class="mx-2">Количество: {{ item.quantity }}</p>
                        <div class="mx-4">
                            <form action="{% url 'myapp:add_to_cart' product_size_id=item.product_size.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="text-green-500 hover:text-green-700"
                                        {% if item.quantity >= item.product_size.quantity_available %} disabled {% endif %}>
                                    +
                                </button>
                            </form>
                        </div>
                        <div class="mx-4">
                            <form action="{% url 'myapp:remove_from_cart' item.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="text-red-500 hover:text-red-700">Удалить все</button>
                            </form>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
        {% if cart.items.all|length > 0 %}
        <p class="mt-8 text-xl font-semibold">Итого: {{ cart.total | intcomma }} ₽</p>
        <button class="mt-8 bg-green-500 text-white px-4 py-2 rounded-md hover:bg-green-600"><a href="{% url 'myapp:place_order' %}">Оформить заказ</a></button>
        {% else %}
        <p class="mt-8 text-xl font-semibold text-center">Тут пока пусто, но вы можете это исправить.</p>
        {% endif %}
    </div>
{% endblock content %}
