{% extends "myapp/base.html" %}
{% load humanize %}

{% block content %}

<div class="flex p-20 w-full justify-center">
    <img class="w-1/3 rounded-lg shadow-md mt-10" src="{{ item.image.url }}" alt="{{ item.name }}">
    <div class="w-2/3 ml-10 mt-5">
        <h1 class="text-3xl font-semibold">{{ item.name }}</h1>
        <p class="text-green-500 text-xl mt-2">{{ item.price | intcomma }} ₽</p>
        <p class="mt-3 text-gray-700">{{ item.description }}</p>
        <p class="mt-3 text-gray-700">Категория: {{ item.category }}</p>
        <p class="mt-3 text-indigo-600"><a href="{% url 'users:sellerprofile' item.seller.id %}">prod. by {{ item.seller }}</a></p>

        {% if user_profile %}
            <!-- Рекомендованный размер футболки -->
            {% if recommended_size %}
            <p class="mt-3 text-gray-700">Рекомендуемый размер: <strong>{{ recommended_size }}</strong></p>
            {% endif %}
        {% endif %}

        {% if user.is_seller %}
        {% else %}
        <!-- Добавление товара в избранное -->
        <form class="mt-3" method="post" action="{% url 'myapp:detail' pk=item.pk %}">
            {% csrf_token %}
            {% if item_in_favorites %}
            <button type="submit" name="remove_from_favorites" class="bg-red-500 text-white px-4 py-2 rounded-md hover:bg-red-600">Удалить из избранного</button>
            {% else %}
            <button type="submit" name="add_to_favorites" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600">Добавить в избранное</button>
            {% endif %}
        </form>

        <form class="mt-3" method="post" action="{% url 'myapp:add_to_cart' product_size_id=0 %}" id="add-to-cart-form">
            {% csrf_token %}
            <select name="product_size_id" class="px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent" id="product-size-select">
                {% for product_size in item.product_sizes.all %}
                    <option value="{{ product_size.id }}">{{ product_size.size.name }}</option>
                {% endfor %}
            </select>
            <button type="button" class="bg-green-500 text-white px-4 py-2 rounded-md hover:bg-green-600" onclick="submitForm()">Добавить в корзину</button>
        </form>
        {% endif %}

        {% if request.user == item.seller %}
            <div class="mt-5 flex space-x-3">
                <button class="bg-green-500 text-white px-4 py-2 rounded-md hover:bg-green-600"><a href="{% url 'myapp:update_item' item.id %}">Редактировать</a></button>
                <button class="bg-red-500 text-white px-4 py-2 rounded-md hover:bg-red-600"><a href="{% url 'myapp:delete_item' item.id %}">Удалить товар</a></button>
            </div>
        {% endif %}
    </div>
</div>

<script>
function submitForm() {
    const select = document.getElementById('product-size-select');
    const form = document.getElementById('add-to-cart-form');
    form.action = `{% url 'myapp:add_to_cart' product_size_id=0 %}`.replace('0', select.value);
    form.submit();
}
</script>

{% endblock content %}
