{% extends 'myapp/base.html' %}

{% block content %}
<div class="container mx-auto px-4 py-5">
    <h1 class="text-2xl m-20 text-center font-bold text-green-600">Обновить данные о мероприятии</h1>
    <form class="w-full max-w-md mx-auto bg-white shadow-md rounded px-8 py-8 mb-4" enctype="multipart/form-data" method="post" onsubmit="return validateForm()">
        {% csrf_token %}
        <div class="mb-4">
            <label class="block text-gray-700 text-md font-bold mb-2" for="name">Название мероприятия</label>
            <input class="shadow appearance-none border rounded py-2 px-3 mr-10 text-gray-700 mb-3 w-full focus:outline-none focus:shadow-outline" value="{{ event.name }}" type="text" placeholder="Название мероприятия" name="name" id="name" required>

            <label class="block text-gray-700 text-md font-bold mb-2" for="description">Описание мероприятия</label>
            <input class="shadow appearance-none border rounded py-2 px-3 mr-10 text-gray-700 mb-3 w-full focus:outline-none focus:shadow-outline" value="{{ event.description }}" type="text" placeholder="Описание мероприятия" name="description" id="description" required>

            <label class="block text-gray-700 text-md font-bold mb-2" for="date">Дата ивента</label>
            <input class="shadow appearance-none border rounded py-2 px-3 text-gray-700 mb-3 w-full focus:outline-none focus:shadow-outline" type="date" placeholder="Дата..." name="date" id="date" value="{{ event.date }}" required>

            {% if event.image %}
                <img class="w-20 h-20 mb-4" src="{{ event.image.url }}" alt="Event Image" id="existing-image">
            {% else %}
                <img class="w-20 h-20 mb-4" src="#" alt="No Image" id="existing-image" style="display: none;">
            {% endif %}

            <label class="block text-gray-700 text-md font-bold mb-2" for="upload">Изображение мероприятия</label>
            <input class="block mt-4 mb-4" type="file" accept="image/*" name="upload" id="upload" {% if not event.image %}required{% endif %}>

            <button class="bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mt-4" type="submit" name="Update Event" value="Update Event">Обновить данные</button>
        </div>
    </form>
</div>

<script>
    function validateForm() {
        const imageInput = document.getElementById('upload');
        const existingImage = document.getElementById('existing-image');
        
        if (!existingImage.src || existingImage.src.includes('No Image')) {
            if (imageInput.files.length === 0) {
                alert('Пожалуйста, загрузите изображение мероприятия.');
                return false;
            }
        }
        return true;
    }
</script>

{% endblock content %}
