{% extends 'myapp/base.html' %}

{% block content %}
<style>
    body {
        {% if background_image %}
        background-image: url('{{ background_image.url }}');
        background-size: cover;
        background-position: center;
        {% else %}
        background-color: white; /* Белый фон, если нет background-image */
        {% endif %}
    }

    .bg-blur {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        {% if background_image %}
        background-image: url('{{ background_image.url }}');
        filter: blur(5px);
        {% endif %}
        z-index: -1;
    }

    .profile-container {
        text-align: center;
        margin-bottom: 20px;
    }

    .profile-image {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-bottom: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .favorites-container {
        margin-top: 20px;
    }

    .favorite-item {
        margin-bottom: 10px;
        text-align: center;
    }

    .edit-profile-button {
        text-align: center;
        margin-top: 20px;
    }

    .edit-profile-button a {
        color: black;
        border: 2px solid black; /* Добавленный стиль для видимых границ */
        padding: 10px 20px; /* Добавленный стиль для увеличения отступов кнопки */
        text-decoration: none; /* Убрать подчеркивание ссылки */
    }
</style>


<div class="bg-blur"></div>
<div class="container mx-auto mt-10">
    <div class="flex justify-center">
        <div class="w-full max-w-2xl">
            <div class="profile-container">
                {% if user.profile.image %}
                <img src="{{ user.profile.image.url }}" alt="Profile Image" class="profile-image">
                {% else %}
                <div class="bg-gray-200 rounded-full w-32 h-32 mx-auto mb-4"></div>
                {% endif %}
                <h1 class="text-2xl font-bold mb-5">Покупатель: {{ user.username }}</h1>
                <p class="text-gray-700">Contact Number: {{ user.profile.contact_number }}</p>
                <p class="text-gray-700">Height: {{ user.profile.height }} cm</p>
                <p class="text-gray-700">Foot Size: {{ user.profile.foot_size }}</p>
                <p class="text-gray-700">Chest Circumference: {{ user.profile.chest_circumference }}</p>
                <p class="text-gray-700">Waist Circumference: {{ user.profile.waist_circumference }}</p>
                <p class="text-gray-700">Hip Girth: {{ user.profile.hip_girth }}</p>
                <p class="text-gray-700">Shoulder Width: {{ user.profile.shoulder_width }}</p>
                <p class="text-gray-700">Length Shoulder: {{ user.profile.length_shoulder }}</p>
                <p class="text-gray-700">Pants Length: {{ user.profile.pants_length }}</p>
            </div>
            <div class="favorites-container">
                <h2 class="font-bold text-lg mt-4 mb-2">Favorites</h2>
                <div class="flex flex-col items-center">
                    {% for favorite in user.favorite_set.all %}
                    <a href="{% url 'myapp:detail' favorite.product.id %}" class="w-64">
                        <div class="favorite-item bg-white shadow-md rounded-lg p-4">
                            <img src="{{ favorite.product.image.url }}" alt="{{ favorite.product.name }}" class="w-20 h-20 mx-auto mb-2">
                            <p>{{ favorite.product.name }}</p>
                        </div>
                    </a>
                    {% empty %}
                    <p class="text-gray-700">No favorites yet.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="edit-profile-button" style="text-align: center; margin-top: 20px;">
    <a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-5" href="{% url 'users:edit_profile' %}">Edit Profile</a>
</div>

{% endblock %}
