{% extends 'myapp/base.html' %}

{% block content %}
<style>
    body {
        {% if background_image %}
        background-image: url('{{ background_image.url }}');
        background-size: cover;
        background-position: center;
        {% else %}
        background-color: white; /* Белый фон, если нет background-image */
        {% endif %}
    }

    .bg-blur {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        {% if background_image %}
        background-image: url('{{ background_image.url }}');
        filter: blur(5px);
        {% endif %}
        z-index: -1;
    }

    .profile-container {
        text-align: center;
        margin-bottom: 20px;
    }

    .profile-image {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-bottom: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .favorites-container {
        margin-top: 20px;
    }

    .favorite-item {
        margin-bottom: 10px;
        text-align: center;
    }

    .edit-profile-button {
        text-align: center;
        margin-top: 20px;
    }

    .edit-profile-button a {
        color: black;
        border: 2px solid black; /* Добавленный стиль для видимых границ */
        padding: 10px 20px; /* Добавленный стиль для увеличения отступов кнопки */
        text-decoration: none; /* Убрать подчеркивание ссылки */
    }
    .products-container,
    .events-container {
        display: flex;
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;
    }

    .product,
    .event {
        flex: 0 0 calc(33.33% - 20px);
        margin-bottom: 20px;
        text-align: center;
        padding: 10px; /* Добавленные отступы между товарами */
        box-sizing: border-box; /* Учтем отступы в общей ширине элемента */
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease;
    }

    .product:hover,
    .event:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
    }

    .product img,
    .event img {
        max-width: 100%;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    .product-details,
    .event-details {
        padding: 15px;
    }

    .section-title {
        text-align: center;
        margin-bottom: 20px;
    }

    .edit-profile-button {
        text-align: center;
        margin-top: 20px;
    }

    .edit-profile-button a {
        color: black;
        border: 2px solid black; /* Добавленный стиль для видимых границ */
        padding: 10px 20px; /* Добавленный стиль для увеличения отступов кнопки */
        text-decoration: none; /* Убрать подчеркивание ссылки */
    }
</style>

<div class="bg-blur"></div>
<div class="container mx-auto mt-10">
    <div class="flex justify-center">
        <div class="w-full max-w-2xl">
            <div class="profile-container mt-8">
                {% if user.profile.image %}
                <img src="{{ user.profile.image.url }}" alt="Profile Image" class="profile-image mt-10">
                {% else %}
                <div class="bg-gray-200 rounded-full w-32 h-32 mx-auto mb-4"></div>
                {% endif %}
                <h1 class="text-2xl font-bold mb-5">Покупатель: {{ user.username }}</h1>
                <p class="text-gray-700">Номер телефона: {{ user.profile.contact_number }}</p>
                <p class="text-gray-700">Рост: {{ user.profile.height }} см.</p>
                <p class="text-gray-700">Размер ноги: {{ user.profile.foot_size }}</p>
                <p class="text-gray-700">Обхват груди: {{ user.profile.chest_circumference }}</p>
                <p class="text-gray-700">Обхват талии: {{ user.profile.waist_circumference }}</p>
                <p class="text-gray-700">Обхват бедер: {{ user.profile.hip_girth }}</p>
                <p class="text-gray-700">Ширина плеч: {{ user.profile.shoulder_width }}</p>
                <p class="text-gray-700">Длина до плеча: {{ user.profile.length_shoulder }}</p>
                <p class="text-gray-700">Длина брюк: {{ user.profile.pants_length }}</p>
            </div>
            <div class="favorites-container">
                <h2 class="font-bold text-lg mb-4 section-title">Избранное:</h2>
                
                <div class="products-container">
                    {% for favorite in user.favorite_set.all %}
                    <a href="{% url 'myapp:detail' favorite.product.id %}" >
                        <div class="rounded overflow-hidden shadow-lg p-4 product">                           
                            <img src="{{ favorite.product.image.url }}" alt="{{ favorite.product.name }}" class="w-full h-32 object-cover mb-2">
                            <p>{{ favorite.product.name }}</p>
                        </div>
                    </a>
                    {% empty %}
                    <p class="text-gray-700">Избранные товары еще не были добавлены</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>


<div style="text-align: center">
    <button class="mt-8 bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-700"><a href="{% url 'users:edit_profile' %}">Редактировать профиль</a></button>
</div>

<div style="text-align: center">
    <button class="mt-8 bg-green-500 text-white px-4 py-2 rounded-md hover:bg-green-700"><a href="{% url 'myapp:order_history' %}">История заказов</a></button>
</div>
<div style="text-align: center; margin-top: 35px;"></div>

{% endblock %}
